################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flashcards/Flashcards.Android/obj/project.assets.json
